input.info_right{
    width: 200px;
    margin-left:20px;
    margin-bottom: 10px;
}
select.info_right{
    width: 200px;
    margin-left: 16px;
    margin-bottom: 10px;
}
span.info_left{
    display: inline-block;
    width: 70px;
    text-align: right;
}
#submitInfo{
    display: inline-block;
    background-color: #c12e2a;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    margin: 0px auto 0px 100px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}
.modal-header{
    border-bottom: 0px;
}
#edi_Personal_Model{
    position: absolute;
    left:-135px;
}