*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url("/img/back.png") no-repeat top center;
    background-color: #B8E5F8;
    text-align: center;
}
input{
    border: 0px;
    outline: none;/*搭配border使用去除边框*/
    caret-color: rgba(0, 0, 0, 0);/*去除一闪一闪的竖线*/
    font-size: 14px;
}
a{
    font-size: 14px;
    text-decoration: none;
}
#top{
    position: relative;
    top:16%;
}
/*顶部图片*/
#top img{
    width: 128px;
    height: 81px;
}
/*1.登录Div*/
#loginDiv{
    font-size: 14px;
    width: 360px;
    height: 496px;
    background-color: #FFFFFF;
    position: relative;
    top:20%;
    margin: 0px auto;/*相对定位用left不好实现居中*/
    text-align: left;
    padding:0px 20px;
    color: #8590a6;
}
/*1.1选择登录方式*/
#loginDiv #selectType{
    /*别用margin了,会将父盒子和外部盒子的margin扩大*/
    width: 360px;
    height:60px ;
    line-height: 60px;
    font-size: 16px;
}
#loginDiv #selectType img{
    float: right;
    position: relative;
    left: 20px;/*浮动+定位******************/
    cursor: pointer;

}
/*1.1.1选择免密码登录*/
#loginDiv #selectType #selectNotPw{
    display: inline-block;
    height: 60px;
    color: #444444;
    margin-right:20px;
    cursor: pointer;
}
/*1.1.2选择密码登录*/
#loginDiv #selectType #selectPw{
    height: 60px;
    display: inline-block;
    color: #444444;
    cursor: pointer;
}
.weight{
    border-bottom:3px solid #0084ff;
    font-weight: bold;
    color: #121212!important;
}
/*1.2免密码登录*/
#loginDiv #notPw{
    width: 360px;
    height: 200px;
    padding-top: 40px;

}
#loginDiv #Pw{
    width: 360px;
    height: 200px;
    padding-top: 40px;
}
/*1.2.1手机号码*/
#loginDiv  .input1{
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;

}
/*2.2.1邮箱*/
#loginDiv #Pw #input3{
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;

}

/*1.2.1.1选择地区*/
#loginDiv .input1 .country{
    display: inline-block;
    width: 110px;
    border-right: 1px solid lightgray;
    cursor: pointer;
}
/*1.2.1.2输入手机号码*/
#loginDiv .input1 .phoneNumber{
    width:244px;/*249+111+40*/
    /*设置高度会增加父盒子的高度*/
    height: 19px;
    padding-left: 5px;
}
/*2.2.1.2输入邮箱*/
#loginDiv #Pw .input3 #inputEmail{
    width: 360px;
}
/*1.2.2验证码*/
#loginDiv #notPw #input2{
    width: 360px;
    padding:35px 0px 15px;
    border-bottom: 1px solid lightgray;
}
/*2.2.2密码*/
#loginDiv #Pw #input4{
    width: 360px;
    padding-top:15px;
    border-bottom: 1px solid lightgray;
}
/*2.2.2.1输入密码*/
#loginDiv #Pw #input4 #password{
    width: 327px;
    height: 43px;
}
#loginDiv #Pw #input4 img{
    cursor: pointer;
    float: right;
    position:relative ;
    top:8px;
}
/*1.2.2.1输入短信验证码*/
#loginDiv #notPw #input2 #inputMsgCode{
    width: 222px;
}
/*1.2.2.2获取短信验证码*/
#loginDiv #notPw #input2 #getMsgCode{
    float: right;
    cursor: pointer;
    color: #175199;
}

/*1.2.3接收语音验证码*/
#loginDiv #notPw .speakCode{
    padding-top: 15px;
    text-align: right;
    cursor: pointer;
}
/*2.2.3*/
#loginDiv #Pw .inputCode{
    width: 360px;
    padding:35px 0px 15px;
    border-bottom: 1px solid lightgray;
}
#loginDiv #Pw .toggle{
    padding-top: 15px;
    margin-bottom: 10px;
}
.toggle #togglePhone{
    color: #175199;
    cursor: pointer;
}
.toggle #toggleEmail{
    color: #175199;
    cursor: pointer;
}
#loginDiv #Pw .toggle #forgetPw{
    position: absolute;
    right: 25px;
}
/*1.2.4注册登录按钮*/
#loginDiv #notPw #registerLoginButton,#quickButton{
    margin-top: 25px;
    border-radius: 3px;
    border: 0px;
    width: 360px;
    height: 36px;
    background-color:#0084ff;;
    color: white;
    cursor: pointer;
}
#loginDiv #Pw #loginButton{
    margin-top: 25px;
    border-radius: 3px;
    border: 0px;
    width: 360px;
    height: 36px;
    background-color:  #0084ff;
    color: white;
    cursor: pointer;
}
/*1.3登录按钮后面*/
#loginDiv #loginBottom #agreenment{
    width: 360px;
    padding-top: 35px;
    border-bottom:1px solid lightgray ;
    padding-bottom: 10px;
}
#loginDiv #loginBottom #socMedAccount{
    width: 360px;
    height: 60px;
    line-height: 60px;
}
#loginDiv #loginBottom #socMedAccount img{
    width: 24px;
    height: 24px;
    position: relative;
    top:6px;/*往下移动1/4的距离*/
    margin-left: 15px;
    cursor: pointer;
}
#loginDiv #loginBottom #socMedAccount .accountRight{
    float: right;/*设置浮动要设置父盒子的宽高,继承没用*/
}
.accountRight #qq,#wechat,#weibo{
    cursor: pointer;
}
#loginBottom #downloadAppDiv{
    background-color: #f6f6f6;
    height: 51px;
    width: 400px;
    position: relative;
    left: -20px;/*解决父盒子设置了内边距,而这个div的大小要和父盒子宽度一样*/
    color: #0084ff;
}
#downloadAppDiv .agencyAccount{
    display: inline-block;
    margin-left: 20px;
    width: 180px;
    height:21px;
    border-right: 1px solid lightgray;
    position: relative;/*解决边框高度,不然它就往上移动了,这个是那个右边浮动的锅*/
    top:15px;
    cursor: pointer;
}
#downloadAppDiv .downloadApp{
    height: 51px;
    line-height: 51px;
    float: right;/*会造成左边的div向上移动?自己也会*/
    margin-right: 20px;
    cursor: pointer;
}
#downloadAppDiv .downloadApp img{
    width: 20px;
    height: 20px;
    position: relative;
    top:5px;
    cursor: pointer;
}
#downloadAppDiv .agencyAccount img{
    cursor: pointer;
}
.agencyAccount span{
    position: relative;
    top:-5px;
}
.downloadApp span{
    margin-left:3px ;
}
/*最底部*/
#bottom{
    width: 100%;
    height: 88px;
    color: white;
    position: relative;
    top:30%;
    margin: 0px auto;/*相对定位用left不好实现居中,用margin一定要设置宽高*/
    font-size: 13px;
}
#bottom div{
    margin-bottom: 10px;
}